<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="someService" class="cn.happy.Spring13auto.SomeService"></bean>

<bean id="beforeAdvice" class="cn.happy.Spring13auto.MyBeforeAdvice"></bean>

    <!--增强： 顾问-->
    <bean id="beforeAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
       <property name="advice" ref="beforeAdvice"></property>
       <property name="patterns" value=".*T.*"></property>
   </bean>


    <bean  class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">

    </bean>

</beans>