<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
       http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

  <!--目标对象-->
    <bean id="someService" class="cn.happy.Spring15aspectj.SomeService"></bean>
    <!--通知-->
    <bean id="beforeAdvice" class="cn.happy.Spring15aspectj.MyAspect"></bean>
    <!--扫描-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

</beans>