<component name="ArtifactManager">
  <artifact type="war" name="SpringBoot01:war">
    <output-path>$PROJECT_DIR$/SpringBoot01/target</output-path>
    <root id="archive" name="SpringBoot01-1.3.4.RELEASE.war">
      <element id="artifact" artifact-name="SpringBoot01:war exploded" />
    </root>
  </artifact>
</component>