<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:cotext="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc.xsd
"
>

    <!--包扫描-->
    <cotext:component-scan base-package="cn.happy.controller05exception"></cotext:component-scan>
    <!--注解驱动-->
    <!--异常处理器-->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView" value="/error.jsp"></property>
        <property name="exceptionAttribute" value="ex"></property>

        <property name="exceptionMappings">
            <props>
                <prop key="cn.happy.controller05exception.exceptions.NameException">/error/nameerrors.jsp</prop>
                <prop key="cn.happy.controller05exception.exceptions.AgeException">/error/ageerrors.jsp</prop>
            </props>
        </property>

    </bean>

</beans>